* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-fon-smoothing: grayscale;
}

body {
  text-align: center;
  padding: 275px;
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-content: center;


  height: 100vh;
  font-family: 'Spectral', serif;
}

h1 {
  font-weight: 400px;
  font-size: 64px;
  line-height: 120px;
  color: #EBF1FB;
  
  font-family: 'Beth Ellen', cursive;
}

h1 span {
  color: #5EEAD4;

}

p {
  margin-bottom: 72px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 30.44px;
  color: rgba(255, 255, 255, 0.6);
  
}

a {
  padding: 16px 32px;
  font-weight: 600px;
  font-size: 24px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
   
}

a:hover,
.btn-primary {
  text-decoration: none;
  background-color: #5EEAD4;
  color: black;


}

.btn-primary:hover {
  background: #aaeee4;
}



